<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>麦麦推广 APP 下载</title>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        .jump {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            background-color: #0e0e0e;  
        }
        .down {
            display: flex;
            align-items: flex-start;
        }
    </style>
</head>

<body>
    <div id="guide">
        <div class="down" v-if="inWeixin==false">
            <h2 style="width: 100px;">敬请期待...</h2>
        </div>
        <div class="jump" v-if="inWeixin" :style="guideStyle">
            <img style="width: 415px; height:124px;" src="http://scand75.gz01.bdysite.com/ll/?i=20190127135202631.png?,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3dlaXhpbl80NDYyNDk5Nw==,size_16,color_FFFFFF,t_70"></img>
        </div>
    </div>
</body>
    
<script>
new Vue({
    el: '#guide',
    data: {
        inWeixin: isWeixin(),
        guideStyle: {}
    },
    created() {
        
    },
    mounted() {
        var wh = document.documentElement.clientHeight
        this.guideStyle = {height: wh + 'px'}
    },
})

function isWeixin () { 
    var ua = window.navigator.userAgent.toLowerCase()
    if (ua.match(/MicroMessenger/i) == 'micromessenger') { 
        return true
    }
    return false
}

</script>

</html>
